{% include 'main.html' %}

{% block content %}

<h1>Projects</h1>

    <table>
        <tr>
            <th>Project</th>
            <th>Ratio</th>
            <th>Votes</th>
            <th>Created</th>
            <th></th>
            <th></th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{project.title}}   </td>
                <td>{{project.ratioVotes}}%  </td>
                <td>{{project.totalVotes}}  </td>
                <td>{{project.created}} </td>
                <td><a href="{% url 'updateProject' project.id %}">Edit</a></td>
                <td><a href="{% url 'deleteProject' project.id %}">Delete</a></td>
                <td><a href="{% url 'project' project.id %}">View</a></td>
            </tr>
        {% endfor %}
    </table>







{% endblock content %}